@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 5
   Tutorial Case
   
   Author:   Phoenix Ribiat
   Date:     3/6/2025
   
   Filename: go_styles1.css
   
   This file contains the layout styles used in the Trusted Friends
   home page.

*/

/* ===========
   Base Styles
   ===========
*/


/* Img Styles */

img {
    width: 23%;
    display: block;
    float: left;
}

icon{
    width: 100%;
}

/* HTML and Body Styles */

html {
    height: 100%;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
}

body {
    background: rgb(255, 0, 0);
    margin: 0px auto;
    min-height: 100%;
    min-width: 320px;
    max-width: 2048px;
    width: 100%;
}

/* Body Header Styles */



/* Horizonal Navigation Styles */

nav.horizontalNavigation {
    background-color: rgb(117, 140, 72);
    min-height: 4em;
}

    nav.horizontalNavigation li {
        color: rgb(31, 73, 125);
        display: block;
        float: left;
        width: 11%; 
        line-height: 2em;
        text-transform: uppercase;
    }

nav.horizontalNavigation a {
    display: block;
    font-size: 1em;
}

nav.horizontalNavigation a:visited, nav.horizontalNavigation a:link {
    color: rgb(31, 73, 125);
}

nav.horizontalNavigation a:hover, nav.horizontalNavigation a:active {
    background-color: rgb(31, 73, 125);
    color: white;



            /* Main Menu Styles */
            /* Submenu Styles */
            /* Section Styles */
            /* Aside Styles */
            /* Footer Styles */
            /* Pulldown Menu Styles */
            /* New Styles Added Below */
            /* ==================================
Mobile Styles: 0px to 480px
    =================================
*/
            @media only screen and (max-width: 480px) {
            }
            /* ==================================
Tablet Styles: 481px and greater
    =================================
*/
            @media only screen and (min-width: 481px) {
            }
            /* ==================================
Desktop Styles: 769px and greater
    =================================
*/
            @media only screen and (min-width: 769px) {
            }
