@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 5
   Tutorial Case
   
   Author:   Phoenix Ribiat
   Date:     3/6/2025
   
   Filename: go_styles1.css
*/

/* ===========
   Base Styles
   ===========
*/


/* Img Styles */

img {
    width: 100%;
    display: block;
    margin-top: -12px;
    float: left;
}

icon{
    width: 100%;
}

/* HTML and Body Styles */

html {
    height: 100%;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    background: rgb(0, 60, 21);
}

body {
    display: block;
    background: rgb(117, 140, 72);
    margin: 0px auto;

min-height: 100%;
    min-width: 320px;
    max-width: 1024px;
    width: 100%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

div.page {
    background: rgb(117, 140, 72);
    display: block;
    overflow: auto;

}

p {
    font-size: 1.3em;
    display: block;
    float: left;
    margin: 2%;
}

div.pongVideo {
    display: none;
}

div.genreP {
    width: 45%;
    display: block;
    float: left;
    margin: 2%;
}
/* Body Header Styles */



/* Horizonal Navigation Styles */

nav {
    text-decoration: none;
}

nav.horizontalNavigation {
    background-color: rgb(255 0 0);

    min-height: 15em;
    text-decoration: none;
    width: 100%;
}

    nav.horizontalNavigation li {
        color: rgb(31, 73, 125);
        display: block;
        float: left;
        text-align: center;
        width: 14%;
        line-height: 2em;
        text-transform: uppercase;
        margin-top: 1%;
        text-decoration: none;
    }

    nav.horizontalNavigation a {
        display: block;
        font-size: 1em;
        text-decoration: none;
        outline: solid;
        margin: 3%;
    }

nav.horizontalNavigation a:visited, nav.horizontalNavigation a:link {
    color: rgb(31, 73, 125);
}

    nav.horizontalNavigation a:hover, nav.horizontalNavigation a:active {
        background-color: rgb(31, 73, 125);
        color: white;
    }
        /* Main Menu Styles */
        /* Submenu Styles */
        /* Section Styles */
        /* Aside Styles */
        /* Footer Styles */
        /* Pulldown Menu Styles */
        /* New Styles Added Below */


canvas {
float: left;
}

button {
    display: block;

}

p {
    display: block;
    float: left;
}

p.costP {
    float: left;
    width: 70%;
    border: dashed;
    padding: 6px;
}

img.infographic {
    margin-top: 0px;
    width: 70%;
    display: block;
    float: right;
    border: dashed;
}


p.mediaP {
    width: 34%;
    float: right;
    border: dotted;
    padding: 2%;
    margin: 10%;
    margin-top: 0%;
}


p.homeP {
    width: 50%;
    border: solid;
    padding: 5px;
}

figure {
    background: black;
    color: white;
    width: 25%; 
    float: right;
    margin-top: 2%;
    margin-right: 5%;
    border: solid;
    border-right: none;
    border-color: black;
}

figure.TFT {
    float: left;

}


figure.SSBB {
    float: left;
}

body::after {
    width: 100%;
    margin-bottom: 20%;
    display: block;
    height: 100px;
}

footer.footer {
    font-size: 0.9em;
    text-align: center;
    padding: 10px 0px;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: rgb(9, 124, 25);
    color: white;
    max-width: 1024px;
}

p.historyP {

    width: 46%;
    float: left;
    border: groove;
    padding: 2%;
}


img.CRT {

    float: right;
    border: groove;
    width: 44%; 
    margin-top: 20%;
}


p.futureP {
    border: double;
    border-width: 10px;
}


figure.VR {
    width: 40%;

}

figure.Trend {
    width: 35%;
    float: left;
    margin-top: 10%;
}

p.space {
    width: 90%;

    margin: 5%;

}

/* ==================================
Tablet Styles: 481px and greater
    =================================
*/
@media only screen and (max-width: 768px) {


    nav.horizontalNavigation li {
        display: block;
        float: left;
        width: 100%;
        line-height: 2em;
        text-transform: uppercase;
    }

    nav.horizontalNavigation {
        background-color: rgb(255 0 0);
        min-height: 42em;
        text-decoration: none;
    }


    canvas {
        display: none;
    }

    button {
        display: none;
    }


    div.gameScore p {
        display: none;
    }

    div.pongVideo {
        display: block;
        text-align: center;
    }

    p.mediaP {
        float: none;

        width: 95%;
        border: dotted;
        margin: 0%;
        
    }

    table.gameSystems {
        width: 100%;
    }

    div.genreP {
        width: 100%;
        display: block;
        float: left;
        margin: 2%;
    }

    p.costP {
        float: left;
        width: 97%;
        border: dashed;
        padding: 1%;
        margin: 0%;
    }

    img.infographic {
        margin-top: 0px;
        width: 100%;
        border: none;
    }

    figure.BG3 {
        float: left;
    }

    figure.TFT {
        float: right;
    }

    nav.horizontalNavigation li {
        margin-top: 0%;
    }

    p.historyP {
        width: 90%;
    }

    img.CRT {
        margin: 0%;
        width: 50%;
        float: none;
        margin-left: 24%;
    }

}

/* ==================================
Mobile Styles: 0px to 480px
   =================================
*/
        @media only screen and (max-width: 480px) {

            nav.horizontalNavigation li {
                display: block;
                float: left;
                width: 100%;
                line-height: 2em;
                text-transform: uppercase;
            }

            nav.horizontalNavigation {
                background-color: rgb(255 0 0);
                min-height: 30em;
                text-decoration: none;
            }


            canvas {
                display: none;
            }

            button {
                display: none;
            }

            div.gameScore p {
                display: none;
            }

            div.pongVideo {
                display: block;
                text-align: center;
            }

            p.mediaP {
                float: none;
                width: 95%;
                border: dotted;
                margin: 0%;
            }

            table.gameSystems {
                width: 100%;
            }

            div.genreP {
                width: 100%;
                display: block;
                float: left;
                margin: 2%;
            }

            p.costP {
                float: left;
                width: 97%;
                border: dashed;
                padding: 1%;
                margin: 0%;
            }

            img.infographic {
                margin-top: 0px;
                width: 100%;
                border: none;
            }

            figure.BG3 {
                float: left;
            }

            figure.TFT {
                float: right;
            }

            nav.horizontalNavigation li {
                margin-top: 0%;
            }

            p.historyP {
                width: 90%;
            }

            img.CRT {
                margin: 0%;
                width: 50%;
                float: none;
                margin-left: 24%;
            }

        }
        /* ==================================
Desktop Styles: 769px and greater
    =================================
*/
        @media only screen and (min-width: 769px) {

        }
